<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.SriFin"
        tools:targetApi="31">

        <activity
            android:name=".Control"
            android:exported="true" />
        <activity
            android:name=".Report"
            android:exported="true" />
        <activity
            android:name=".notify"
            android:exported="true" />
        <activity
            android:name=".Other_Category"
            android:exported="true" />
        <activity
            android:name=".Amount"
            android:exported="true" />
        <activity
            android:name=".update"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>